name: Build

on: [push, pull_request]

jobs:
  build:
    name: Build ArduinoCore-API static lib
    runs-on: ubuntu-latest
    container: zephyrprojectrtos/ci-base:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
          path: arduinocore-api-lib

      - name: Setup Toolchain
        run: |
          wget -q https://github.com/zephyrproject-rtos/sdk-ng/releases/download/v1.0.0-beta1/toolchain_gnu_linux-x86_64_arm-zephyr-eabi.tar.xz
          tar xf toolchain_gnu_linux-x86_64_arm-zephyr-eabi.tar.xz

      - name: Build static libs
        run: |
          (cd arduinocore-api-lib ; make fetch)
          (cd arduinocore-api-lib ; make TOOLCHAIN_PREFIX=$(pwd)/../arm-zephyr-eabi/bin/arm-zephyr-eabi-)
